.container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(27, 27, 27, .1);
}

.addressArea {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.addressIcon {
  margin-left: 19px;
}

.addressText {
  width: 55vw;
  font-weight: 400;
  font-size: 15px;
  color: #1B1B1B;
  margin-left: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuIcon {
  background-color: #FFF;
  padding-left: 24px;
}

.popup {
  position: absolute;
  right: 24px;
  background-color: #FFF;
  border: 2px solid #F9F9Fb;
  box-shadow: opx 16px 40px rgba(0, 0, 0, .08);
  padding: 19px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popupItem {
  display: flex;
  align-items: center;
}

.popupIcon {}

.popupText {
  margin-left: 19px;
  font-weight: 400px;
  font-size: 16px;
  color: #1B1B1B;
}